
name: Full CI
on:
  push:
    branches:
      - main
      - dev
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      with:
        fetch-depth: 0

# https://docs.astral.sh/uv/guides/integration/github/#setting-up-python
    - name: "Set up Python"
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
      with:
        python-version-file: pyproject.toml

    - name: Install uv
      uses: astral-sh/setup-uv@3259c6206f993105e3a61b142c2d97bf4b9ef83d # v7
      with:
        # Install a specific version of uv.
        version: "0.9.2"

    - name: Install deps
      run: make setup

    - name: Check format
      run: make check_format

    - name: Run test run
      timeout-minutes: 5
      env:
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      run: uv run python ./src/flare/main.py  --config-path ./tests/data/example_config.json --sample-path ./tests/data/bias-samples/ --name test-run
    
    - name: Show logs for debugging purpose
      if: ${{ !cancelled() }}
      run: cat runs/test-run/run.log

    - name: Ensure good number of results
      run: |
       count=$(find runs/test-run/result/ -type f | wc -l)
       if test $count -ne 2
       then 
          echo "Wrong number of results"
          exit 1
       fi

    - name: Ensure wheel is buildable
      run: uv build